
body{
  background-color: black;
}
img{
  padding: 0px;
  transition: transform .2s;
}

a{
  color:black;
  text-decoration: none;
}
pre{
  font-family: "Arial black", sans-serif;
  font-size: 25px;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  color: #FFFF00;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 13pt;
}
select option {
  margin: 40px;
  background: black;
  color: #FFFF00;
  border-color: black;
  font-size: 13pt;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.text1{
  font-family: "Arial black", sans-serif;
}
.text2{
  font-family: "Arial black", sans-serif;
  font-size: 15px;
}
a:hover {
  color: blue;
}
.container{
  display block;
  position:relative;
  width: 700px;
  height:700px;
  margin:auto;
  background-color: black;
}


.circle{
  position:absolute;
  left:160px;
  top: 107px;
}

.above{
  position: absolute;
  left:117px;
  top:10px;
}
.left{
  position: absolute;
  left:17px;
  top:109px;
}
.right{
  position: absolute;
  left:493px;
  top:109px;
}
.bottom{
  position: absolute;
  left:117px;
  top:485px;
}
.rightCon {
  position: relative;
}
#right1{
  z-index: 10;
  position: absolute;
  left:533px;
  top:163px;
  opacity: 0;
}
#right2{
  z-index: 10;
  position: absolute;
  left:535px;
  top:350px;
  opacity: 0;
}
.bottomCon {
  position: relative;
}
#bottomtext{
  z-index: 10;
  position: absolute;
  left:200px;
  top:545px;
  opacity: 0;
}

#biggest{
  font-size: 45px;
  line-height: 1.0;
}
#second{
  font-size: 25px;
  line-height: 1.4;
}
#last{
  font-size: 12px;
  font-family: Arial;
}
.lastLine{
  margin:auto;
  padding-left:95px;
  padding-top: 2px;
  background-color: black;
  width:1300px;
}
.under{
  display: block;
  margin: auto;
  padding-left: 95px;
  width:1200px;
  hight:5px;
}
